.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start_button {
  position:absolute;
  top:80%;
  left:56%;
  padding: 5px 15px;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px #999;
}

.start_button:hover {background-color: #3e8e41}

.start_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.el_gallo {
  background-image: url(/el_gallo.jpg);
  float: none;
  position: absolute;
  margin-left:37.5%;
  margin-right:37.5% ;
  padding: 2px;
  color: #23304b;
  background-color: black;
  border: black solid 3.0px;
  width: 25%;
  height: 75%;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.el_diablito {
  background-image: url(/el_diablito.jpg);
  float: none;
  position: absolute;
  margin-left:37.5%;
  margin-right:37.5% ;
  padding: 2px;
  color: #23304b;
  background-color: black;
  border: black solid 3.0px;
  width: 25%;
  height: 75%;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.la_dama {
  background-image: url(/la_dama.jpg);
  float: none;
  position: absolute;
  margin-left:37.5%;
  margin-right:37.5% ;
  padding: 2px;
  color: #23304b;
  background-color: black;
  border: black solid 3.0px;
  width: 25%;
  height: 75%;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.el_catrin {
  background-image: url(/el_catrin.jpg);
  float: none;
  position: absolute;
  margin-left:37.5%;
  margin-right:37.5% ;
  padding: 2px;
  color: #23304b;
  background-color: black;
  border: black solid 3.0px;
  width: 25%;
  height: 75%;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.el_paraguas {
  background-image: url(/el_paraguas.jpg);
  float: none;
  position: absolute;
  margin-left:37.5%;
  margin-right:37.5% ;
  padding: 2px;
  color: #23304b;
  background-color: black;
  border: black solid 3.0px;
  width: 25%;
  height: 75%;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.la_sirena {
  background-image: url(/la_sirena.jpg);
  float: none;
  position: absolute;
  margin-left:37.5%;
  margin-right:37.5% ;
  padding: 2px;
  color: #23304b;
  background-color: black;
  border: black solid 3.0px;
  width: 25%;
  height: 75%;
  pointer-events: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}